
#courseselection h3.spaced {margin-top: 4em;}
#courseselection form table td.title {width: 300px;}
#courseselection .capping form table tr.data textarea {font-family: monospace;}
#courseselection .notyetvisible {color: #603;}